<div id="slider-animation" class="carousel slide" data-ride="carousel" style="margin-top: 70px;">
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active carouselbox">
      <!-- <img src="" alt=""/> -->
      <div class="text-box">
        <h2 class="wow slideInRight" data-wow-duration="2s">
          About
        </h2>
        <p class="wow slideInLeft" data-wow-duration="2s">
          This website is set up with a vision to create a platform for people especially girls listing
          various scholarship opportunities and programs. Our main motive is to reach greater audience and help them to
          know about the programs according to their eligibility.
        </p>
      </div>
    </div>

    <div class="carousel-item carouselbox">
      <!-- <img src="" alt=""/> -->
      <div class="text-box">
        <div class="row align-items-center">
          <div class="col-md-6">
            <h2 class="wow fadeInUp" data-wow-duration="4s">
              International Scholarships for Women
            </h2>
            <p class="wow fadeInUp" data-wow-duration="2s">
              Click here for details of various  scholarship programs (link)
            </p>
          </div>
          <div class="col-md-6 wow slideInLeft" data-wow-duration="4s">
            <p class="wow fadeInUp" data-wow-duration="2s">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#slider-animation" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#slider-animation" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>