
<div id="slider-animation" class="carousel slide" data-ride="carousel" style="margin-top: 70px;">
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active carouselbox">
      <!-- <img src="" alt=""/> -->
      <div class="text-box">
        <h2 class="wow slideInRight" data-wow-duration="2s">
          This is heading text 1
        </h2>
        <p class="wow slideInLeft" data-wow-duration="2s">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam quaerat
          delectus sequi vero eveniet distinctio quod cupiditate obcaecati et
          placeat?
        </p>
      </div>
    </div>

    <div class="carousel-item carouselbox">
      <!-- <img src="" alt=""/> -->
      <div class="text-box">
        <div class="row align-items-center">
          <div class="col-md-6">
            <h2 class="wow fadeInUp" data-wow-duration="4s">
              This is heading text 2
            </h2>
            <p class="wow fadeInUp" data-wow-duration="2s">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, nulla.
              Column1
            </p>
          </div>
          <div class="col-md-6 wow slideInLeft" data-wow-duration="4s">
            <p class="wow fadeInUp" data-wow-duration="2s">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, nulla.
                Column2
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#slider-animation" data-slide="prev">
    <span class="carousel-control-prev-icon" ></span>
  </a>
  <a class="carousel-control-next" href="#slider-animation" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div id="slider-animation" class="carousel slide" data-ride="carousel" style="margin-top: 70px;">
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active carouselbox">
      <!-- <img src="" alt=""/> -->
      <div class="text-box">
        <h2 class="wow slideInRight" data-wow-duration="2s">
          This is heading text 1
        </h2>
        <p class="wow slideInLeft" data-wow-duration="2s">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam quaerat
          delectus sequi vero eveniet distinctio quod cupiditate obcaecati et
          placeat?
        </p>
      </div>
    </div>

    <div class="carousel-item carouselbox">
      <!-- <img src="" alt=""/> -->
      <div class="text-box">
        <div class="row align-items-center">
          <div class="col-md-6">
            <h2 class="wow fadeInUp" data-wow-duration="4s">
              This is heading text 2
            </h2>
            <p class="wow fadeInUp" data-wow-duration="2s">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, nulla.
              Column1
            </p>
          </div>
          <div class="col-md-6 wow slideInLeft" data-wow-duration="4s">
            <p class="wow fadeInUp" data-wow-duration="2s">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, nulla.
                Column2
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#slider-animation" data-slide="prev">
    <span class="carousel-control-prev-icon" ></span>
  </a>
  <a class="carousel-control-next" href="#slider-animation" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

