<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container d-md-flex py-4">
        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
                &copy; <strong><span>Made with <i class="fas fa-heart"></i> by GirlMeetup</span></strong>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
<script src="js/main.js"></script>
</body>

</html>