<div class="new-header section-container">
    <div class="container">     
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6 how-box wow fadeInLeftBig">
          <div class="header-laptop">
            <img class="img-fluid col-5 col-md-8 col-lg-6" src="image/girl-laptop.png" alt="girl with laptop">
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 how-us-box overlay">
                <div class="float-right">
                  <h2 class="new-header-heading  wow fadeInDown"><strong>Girl Meetup, the road ahead</strong></h2>
                  <br>
                  <p class="header-p wow fadeInUp">
                    An all-women platform to help drive their careers forward. Keep inspiring and keep being inspired!
                  </p>
                  <div class="header-girls float-right wow fadeInRightBig">
                    <img class="img-fluid col-5 col-md-8 col-lg-8 wow fadeInUp" src="image/girls.png" alt="girls united">
                  </div>
                </div>
              
        </div>
    </div> 
  </div>
</div>