<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>GirlMeetup</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/22a2749f4c.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/bootstrap-btn.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/admin.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/userstyle.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" href="image/favicon.png" />
    <script src="/js/script.js"></script>
  </head>

<body>
  <header id="header" class="fixed-top" style="background-color: #132743 !important">


    <nav class="navbar navbar-expand-lg navbar-dark bg-light" style="background-color: #132743 !important;">
      <a href="/" class="logo">
        <img src="image/GirlMeetup_logo.svg" alt="" class="img-fluid" style="height: 55px; padding-left: 10px;"/>
      </a>

      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item headpadding">
            <a class="nav-link btn-get-quote text-white mr-sm-2" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Scholarship
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">School students</a>
              <a class="dropdown-item" href="#">Undergraduates</a>
              <!-- <div class="dropdown-divider"></div> -->
              <a class="dropdown-item" href="#">Postgraduates</a>
            <!-- </div> -->
          </li>
          <li class="nav-item headpadding">
            <a class="nav-link btn-get-quote text-white" href="#blog">Mentor</a>
          </li>
          <li class="nav-item headpadding">
            <a class="nav-link btn-get-quote text-white" href="#faq">Blog</a>
          </li>
          <li class="nav-item headpadding">
            <a class="nav-link btn-get-quote text-white" href="#Team">FAQ</a>
          </li>
          <li class="nav-item headpadding">
            <a class="nav-link btn-get-quote text-white" href="#Login">Login</a>
          </li>       
        </ul>
      </div>
    </nav>
  </header>
