<%- include('partials/header') %>

<section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 pt-2 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
        >
          <h1><b>Uh oh!</b></h1>
          <ul>
            <li>
              <h3>There was a problem signing you up. Please try again later!</h3>
            </li>
          </ul>
        </div>
        <!-- ""  -->
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img
            src="https://image.freepik.com/free-vector/no-data-concept-illustration_114360-2506.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

<%- include('partials/footer') %>