<%- include('partials/header') %>

<style>
  .heads {
background: url();
text-align: center;
width: 100%;
height: auto;
background-size: cover;
background-attachment: fixed;
position: relative;
overflow: hidden;
border-radius: -1 0 85% 85% / 92%;
}
.overlay{
width: 100%;
height: 50%;
color: #FFF;
text-shadow: 1px 1px 1px black;
background-image:linear-gradient(to right,  rgba(66, 65, 65, 0.73), rgba(163, 163, 163, 0.73)),
  url("https://images.unsplash.com/photo-1530099486328-e021101a494a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8bWVudG9yc2hpcHxlbnwwfDB8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
background-position: 50% 60%;
}
</style>


<div  class="heads overlay" style="background-color: rgb(243, 243, 243); padding: 10px; margin-top: 65px;">
  <h2 style="padding: 80px; font-family: 'Sarina', cursive;">We are here for you</h2>
  <p style="font-size: 25px;margin-top: -71px;text-align: center; font-family: 'Sarina', cursive;">Let's go do it!</p>
 
</div>

<%- include('partials/modal_form') %>

<!-- ======= Toast UI ====== -->
<%- include('partials/toast') %>

<!-- FAQ section -->
<br>
<br>
<section class="container">
  <h2 class="faq-h text-center wow fadeInUp">Frequently Asked Questions</h2>
  <div id="accordion" class="accordion-container">
    
    <div class="card wow fadeInRight" data-wow-duration="2s">
      <div class="card-header" data-wow-duration="3s" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <i class="fa fa-angle-right"></i> Do you have tie-ups with any of your listed opportunities?
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          No, we are simply a female-friendly guide and mentoring website who can point you to the right opportunities. We don't work under or have any link to the opportunties we list.
        </div>
      </div>
    </div>

    <div class="card wow fadeInLeft" data-wow-duration="2s">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fa fa-angle-right"></i> Why should I subscribe to your newsletter?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          Our weekly newsletter will be a perfect blend of newest opportunities for girls from all kinds of educational and professional backgrounds and occassional mentoring or course opportunities for career development. All these opportunties will usually be a part of a bulletin guiding girls to other third-party websites.
        </div>
      </div>
    </div>

    <div class="card wow fadeInRight" data-wow-duration="2s">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <i class="fa fa-angle-right"></i> I am hosting an event/ opportunity beneficial for career development of girls. How to list the same on your website?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          If you're the host, admin or marketeer for your team and are interested to publish your courses, internships, contests, scholarships, mentoring sessions and other career development opportunties with us and be given a shoutout on our newsletter, do mail us (email address listed below) or join the livechat.
        </div>
      </div>
    </div>

    <div class="card wow fadeInLeft" data-wow-duration="2s">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <i class="fa fa-angle-right"></i> I am a student/ professional who applied to an opportunity listed on your website but didn't get selected. Why?
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            First of all, <em>“Failure is essentially a free education: How cool is that?”— Sophia Amoruso</em>. Second of all, we can only guide you towards the best opportunities that enable your development and we're afraid that is the extent upto which we can be involved in the application process. We do not guarantee or assure your selection in any of our listed oppotuinties. What we DO guarantee is that it is only a matter of time until you're achieving your goals. Just keep striving!
          </div>
        </div>
    </div>

    <div class="card wow fadeInRight" data-wow-duration="2s">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <a><i class="fa fa-angle-right"></i></a> Who can apply as a mentor in Girl Meetup?
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            Are you someone who has wide knowledge, experience and a will to help your peers and take forward the baton? Do you have relevant mentoring or coaching experience? Do you love interacting with students and are enthusiastic to spread your knowledge? Do you have a degree and/ or relevant certificates? Most of all, do you agree that teaching is a two-way process and are interested? If you answered yes to any/ some/ all of these questions, do apply as a mentor here.
          </div>
        </div>
    </div>

    <div class="card wow fadeInLeft" data-wow-duration="2s">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <i class="fa fa-angle-right"></i> Are all your services free?
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            Yes, completely free. We do not have any hidden charges and our web app is open-source. However, some of the opportunities that we list may not be free to apply or be a part of. For that, kindly check and read through the instructions manual of the third-party websites very carefully.
          </div>
        </div>
    </div>

    <div class="card wow fadeInRight" data-wow-duration="2s">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              <i class="fa fa-angle-right"></i> Can anybody apply as a mentee?
            </button>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
          <div class="card-body">
            Absolutely, anybody may apply for being a mentee. However, both relevance as well as required qualifications and career backgrounds will be considered before selecting a candidate for mentorship. In case of mentorship opportunities with deadlines, candidates will be selected on a first-come-first-serve basis.
          </div>
        </div>
    </div>
  </div>
</div>

<div>
  <button class="contact-box btn btn-link col-4 col-md-1" type="button">
    <a class="mail-text" href = "mailto: chehakagrawal01@gmail.com">Mail us <i class="fas fa-envelope-open-text faq-mail"></i></a>
  </button>
</div>
</section>


<%- include('partials/footer') %>

<script>
    /* Up and down arrows FAQ Accordion */
        $(document).ready(function(){
            // Add down arrow icon for collapse element which is open by default
            $(".collapse.show").each(function(){
              $(this).prev(".card-header").find(".fa").addClass("fa-angle-down").removeClass("fa-angle-right");
            });
            
            // Toggle right and down arrow icon on show hide of collapse element
            $(".collapse").on('show.bs.collapse', function(){
              $(this).prev(".card-header").find(".fa").removeClass("fa-angle-right").addClass("fa-angle-down");
            }).on('hide.bs.collapse', function(){
              $(this).prev(".card-header").find(".fa").removeClass("fa-angle-down").addClass("fa-angle-right");
            });
        });
    </script>
