<%- include('partials/header') %>

<section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 pt-2 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
        >
          <h1><b>Awesome !</b></h1>
          <ul>
            <li>
              <h3>You've been successfully signed up to the newsletter, look forward for lots of awesome content!</h3>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img
            src="https://image.freepik.com/free-vector/business-leader-standing-arrow-holding-flag-flat-vector-illustration-cartoon-people-training-doing-business-plan-leadership-victory-challenge-concept_74855-9812.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

<%- include('partials/footer') %>